<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Made by Nandita!</title>
  </head>
  <body>
    <div class="container mt-5">

        <h3>Database Macaron</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Macaron</th>
                    <th>Jumlah</th>
                    <th>Harga Satuan</th>
                    <th>Location</th>
                    <th>Deskripsi</th>
                </tr>
            </thead>
        </table>
        <a href="/inventory/create" class="btn btn-sm btn-primary">Create Data</a>

    </div>
 </body>
</html>